.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

.wrapper .top {
  display: flex;
  padding: 25px 0;
}

.wrapper .top .left {
  width: 50%;
}

.wrapper .top .left .uploaderWrapper {
  width: 250px;
  height: 200px;
  border: 1px solid rgba(1, 1, 1, 0.4);
  border-radius: 10px;
}

.wrapper .top .left .removeText {
  color: blue;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
}

.wrapper .top .right {
  width: 50%;
}

.wrapper .bottom {
  display: flex;
  flex-wrap: wrap;
}

.wrapper .userWrapper {
  width: 300px;
  height: 400px;
  margin: 20px 15px;
  cursor: pointer;
}

.wrapper .userWrapper .image img {
  width: 300px;
  height: 300px;
}

.wrapper .userWrapper .name {
  background-color: blue;
  color: white;
}
