.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 30px 20px;
    box-shadow: 0px 0px 20px rgba(1, 1, 1, 0.1);

    .top {
      display: flex;
      padding-top: 20px;
      padding-bottom: 50px;

      .left {
        width: 20%;

        .uploaderWrapper {
          width: 150px;
          height: 150px;
          border: 1px solid rgba(1, 1, 1, 0.2);
          border-radius: 50%;

          img {
            border-radius: 50%;
          }
        }
        .removeText {
          color: blue;
          text-align: center;
          padding: 10px 0;
          width: 100%;
          cursor: pointer;
        }
      }

      .right {
        width: 80%;
        display: flex;
        align-items: center;

        form {
          input {
            display: block;
            width: 300px;
            height: 40px;
            border: none;
            border-bottom: 1px solid rgba(1, 1, 1, 0.2) !important;
            padding-left: 10px;

            :focus {
              outline: none;
              box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.1);
            }
          }
        }

        button {
          margin-left: auto;
          background-color: #ff6666;
          color: white;
          width: 120px;
          height: 40px;
          border: none;
          border-radius: 10px;
        }
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .userWrapper {
      width: 300px;
      height: 50px;
      margin: 10px 15px;
      cursor: pointer;
      display: flex;

      .image {
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }

      .name {
        color: black;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 20px;
      }
    }
  }
}

@media (max-width: 955px) {
  .container {
    padding: 10px;
    .wrapper {
      width: 100% !important;

      .top {
        align-items: center;
        flex-direction: column;
        position: relative;

        .left {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        .right {
          flex-direction: column;
          width: 100%;

          button {
            margin-top: 20px;
          }

          form {
            width: 100%;
            input {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
